.contact__clipboard{
    position: absolute;
    right: 35%;
    left: 35%;
    top: 0;
    background: #a6fba0;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    color: #000;
}

.contact__form-container {
    max-width: 500px;

    p {
        margin-bottom: 10px;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        transition: all .5s ease;

        p{
            color: rgb(255, 98, 98);
        }
        .invalid{
            transition: all .5s ease;
            border-color: rgb(255, 98, 98);
            &::placeholder{
                color: rgb(255, 98, 98);
            }
        }

        input {
            color: #FFF;
            outline: none;
            transition: all .5s ease;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #6f6f6f;
            padding: 10px;
        }

        textarea {
            color: #FFF;
            outline: none;
            resize: none;
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #6f6f6f;
            padding: 10px;
        }

        button {
            height: 50px;
            border: none;
            width: 50%;
            margin: auto;
            background-color: transparent;
            color: #bbbbbb;
            letter-spacing: 6px;
            transition: all .5s ease-in;
            cursor: pointer;
            -webkit-box-shadow: 4px 4px 5px -7px rgba(222, 222, 222, 0.68);
            -moz-box-shadow: 4px 4px 5px -7px rgba(222, 222, 222, 0.68);
            box-shadow: 4px 4px 5px -7px rgba(222, 222, 222, 0.68);

            &:hover{
                width: 80%;
                background-color: #bbb;
                color: #000;
            }
        }
    }
}

.contact__more-info-container{
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;

    .contact__more-info-wrapper{
        padding: 30px;
        background-color: #c5c5c5;
        position: relative;

        p{
            color: #1a1a1a;
            margin: 10px 0;
        }

        &::after{
            content: '';
            display: block;
            width: 30px;
            height: 30px;
            position: absolute;
            top: -15px;
            left: -15px;
            background-color: #d2963a;
        }

        .contact__infos-wrapper{
            display: flex;
            gap: 10px;
            align-items: center;

            button{
                border: none;
                background-color: transparent;
                cursor: pointer;
                width: 15px;
                height: 15px;
                opacity: .5;
                transition: all ease .5s;

                &:hover{
                    opacity: 1;
                }

                img{
                    width: 100%;
                }
            }

            p a{
                color: #1a1a1a;
                opacity: 1;
            }

            a{
                opacity: .5;
                width: 15px;
                height: 15px;
                transition: all ease .5s;
                &:hover{
                    opacity: 1;
                }
            }
        }
    }
}